SOURCE_SHOPIFY_STORE_DOMAIN=mebel-center.myshopify.com
SOURCE_SHOPIFY_ADMIN_TOKEN=
SOURCE_SHOPIFY_CLIENT_ID=
SOURCE_SHOPIFY_CLIENT_SECRET=
BABYMOOD_SHOPIFY_STORE_DOMAIN=babymood-bg.myshopify.com
BABYMOOD_SHOPIFY_ADMIN_TOKEN=
BABYMOOD_SHOPIFY_CLIENT_ID=
BABYMOOD_SHOPIFY_CLIENT_SECRET=
API_VERSION=2026-04
